body {
	margin: 0;
}
#everything {
	width: 100%;
	height: 100vh;
	background: black;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#links ul {
	list-style-type: none;
}
#links ul li {
	display: inline;
	background: #ffffff00;
	color: white !important;
	margin-left: 2px;
	margin-right: 2px;
}
#links ul li:hover {
	background: #ffffff20;
	color: white !important;
}
#links ul li a:any-link {
	color: white !important;
	text-decoration: none;
}